# Visual Studio and JetBrains cache directories
/.vs/
/.idea/

# Working directories and files
/CryptoGuardApp/node_modules
/CryptoGuardApp/package-lock.json

/CryptoGuardApp/[Dd]ecrypted files/
/CryptoGuardApp/[Ee]ncrypted files/
/CryptoGuardApp/[Mm]anual/
/CryptoGuardApp/[Oo]riginal files/
/CryptoGuardApp/password

/[Dd]ecrypted files/
/[Ee]ncrypted files/
/[Mm]anual/
/[Oo]riginal files/
/password
